<html>
  <head>
    <title>Hello from Puppet!</title>
  </head>
  <body>
    <h1>Hello World, Puppet is Fun!</h1>
    <h1>Homework is more fun when you work together</h1>
    <h1>I am being served from: <%= @docroot %></h1>
    <h1>My IP address is: <%= @facts['networking']['interfaces']['eth0']['ip'] %></h1>
  </body>
</html>
